{% load i18n static %}
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Starter Template for Bootstrap</title>
      
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href=" {% static 'Info/css/starter-template.css' %}" rel="stylesheet">
      
  </head>
    
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="starter-template">
          <div id="AccountInfo">
              <h1>Dash Board</h1>
              <h2>
              {% if OPERATION_STATE %}稼働状態　：　<font color="green">ON</font>
              {% else %}稼働状態　：　<font color="red">OFF</font>
              {% endif %}
              </h2>
              <h3>基本情報(Fundamental Information)</h3>
              <p>預金(Balance)　:　{{ ACCOUNT_INFO.0 }}</p>
              <p>未確定損益(Unrealized Profit and Loss)　：　{{ ACCOUNT_INFO.1 }}</p>
              <p>確定損益(Realized Profit and Loss)　：　{{ ACCOUNT_INFO.2 }}</p>
              <p>必要証拠金(Used Margin)　：　{{ ACCOUNT_INFO.3 }}</p>
              <p>証拠金残高(Margin Avail)　：　{{ ACCOUNT_INFO.4 }}</p>
          </div>
      <h3>未決済ポジション(Unclosed Position)</h3>
        <p class="lead">Blow table reference positions I'm holding now.</p>
          <div class="table-responsive" id="TradeInfo">
              <table class="table table-striped table-sm">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>通貨ペア</th>
                          <th>数量</th>
                          <th>タイプ</th>
                          <th>約定レート(円)</th>
                          <th>現在レート(円)</th>
                          <th>評価損益(円)</th>
                          <th>評価損益(pip)</th>
                          <th>評価損益(%)</th>
                      </tr>
                  </thead>
                  {%  for i in TRADE_INFO %}
                  <tr>
                      <th>{{ i.0 }}</th>
                      <th>{{ i.1 }}</th>
                      <th>{{ i.2 }}</th>
                      <th>{{ i.3 }}</th>
                      <th>{{ i.4 }}</th>
                      <th>{{ i.5 }}</th>
                      {%if i.6 <= 0 %}<th><font color="red">{{ i.6 }}</font></th>
                      {%elif i.6 > 0 %}<th><font color="green">{{ i.6 }}</font></th>
                      {% endif %}
                      {%if i.7 <= 0 %}<th><font color="red">{{ i.7 }}</font></th>
                      {%elif i.7 > 0 %}<th><font color="green">{{ i.7 }}</font></th>
                      {% endif %}
                      {%if i.8 <= 0 %}<th><font color="red">{{ i.8 }}</font></th>
                      {%elif i.8 > 0 %}<th><font color="green">{{ i.8 }}</font></th>
                      {% endif %}
                  </tr>
                  {% endfor %}
                </table>
          </div>
          
          <div>
              <form action="/trade/" method="post">
                  {% csrf_token %}
                  <input type="submit" value="State Change"/>
              </form>
          </div>
     </div>


    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->   
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
    <script>     
    
     function getInformation(){
          $.ajax({
            url: '/info/',
            type:'GET',
            success: function (data) {
                obj=JSON.parse(data);
                load_func(obj);
                getInformation();
            }
        });        
         
         
     }     
        
    function load_func(data){
            var a_str='';
            if(data.OPERATION_STATE){
                a_str='稼働状態　：　<font color="green">ON</font>'
            }else{
                a_str='稼働状態　：　<font color="red">OFF</font>'
            }
            account_info.innerHTML="<h1>Dash Board</h1><h2>"+a_str+"</h2><h3>基本情報(Fundamental Information)</h3>\<p>預金(Balance)　:　"+data.ACCOUNT_INFO[0]+"</p><p>未確定損益(Unrealized Profit and Loss)　：　"+data.ACCOUNT_INFO[1]+"</p><p>確定損益(Realized Profit and Loss)　：　"+data.ACCOUNT_INFO[2]+"</p><p>必要証拠金(Used Margin)　：　"+data.ACCOUNT_INFO[3]+"</p><p>証拠金残高(Margin Avail)　：　"+data.ACCOUNT_INFO[4]+"</p>";  
            
            str='<table class="table table-striped table-sm"><thead><tr><th>#</th><th>通貨ペア</th><th>数量</th><th>タイプ</th><th>約定レート(円)</th><th>現在レート(円)</th><th>評価損益(円)</th><th>評価損益(pip)</th><th>評価損益(%)</th></tr></thead><tr>';
            for(i of data.TRADE_INFO){
                //console.log(i)
                str+=('<tr><th>'+i[0]+'</th><th>'+i[1]+'</th><th>'+i[2]+'</th> <th>'+i[3]+'</th><th>'+i[4]+'</th><th>'+i[5]+'</th>');
                if( i[6] <= 0 )
                    str +=('<th><font color="red">'+i[6]+'</font></th>');
                else{
                    str+=('<th><font color="green">'+i[6]+'</font></th>');
                }
                if( i[7] <= 0 )
                    str +=('<th><font color="red">'+i[7]+'</font></th>');
                else{
                    str+=('<th><font color="green">'+i[7]+'</font></th>');
                }
                if( i[8] <= 0 )
                    str +=('<th><font color="red">'+i[8]+'</font></th>');
                else{
                    str+=('<th><font color="green">'+i[8]+'</font></th>');
                }
                str +='</tr>';                
            }
            
            str +='</table>';
            trade_info.innerHTML=str;
    }
      </script>
      
    <script>
          window.onload = function() {
            (function polling(){
                getInformation();
            })();            
            };
    </script>
      
  </body>
</html>
